main {
    padding:0;
    margin:0;
    height:100%;
    width:100%;
    position: absolute;
    top: 136px;
}

#navBar {
    float:left;
    background-color:#115EA2;
    min-height:96px;
    max-height:96px;
    width: 100%;
    min-width:800px;
}
#navBar a {
    text-decoration:none;
    color: #FFFFFF;
}
#navBar h2 {
    font-size:46px;
    color:#FFFFFF;
    font-weight:bold;
    font-family: Sans-serif;
    text-decoration:none;
}
#navBar img {
    float: left;
    display:inline;
}


nav {
    margin:0;
    position: absolute;
    top: 96px;
    background-color:#070E9D;
    text-align:left;
    padding:11px 20px;
    width: 100%;
    min-width:800px;
}
nav a {
    font-size:14px;
    height: 20px;
    padding:12px;
    text-decoration:none;
    color: #FFFFFF;
}
nav a:hover {
    background-color:#03074A;
}

/* ListBrowser */
 table {
    width:70%;
    margin-left:15%;
    margin-right:15%;
    border-collapse:collapse;
    border: 1px solid black;
}
th {
    background-color:#115EA2;
    color:#FFFFFF;
    border: 1px solid black;
}
tr:nth-child(odd) {
    background-color: #88aed0;
    font-size:20px;
}
tr:nth-child(even) {
    font-size:20px;
}
tr:hover {
    background: #115EA2;
}
td:not(:first-child) {
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:10px;
}