main {
    height: 100%;
    width: 96%;
    position: absolute;
    top: 136px;
    margin-top: 20px;
    margin-right: 2%;
    margin-left: 2%;
}

body {
    margin: 0px;
    font-size: 14px;
    font-family: Sans-serif;
}

#navBar {
    float: left;
    background-color: #115EA2;
    min-height: 96px;
    max-height: 96px;
    width: 100%;
}
#navBar a {
    text-decoration: none;
    color: #FFFFFF;
}
#navBar h2 {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: Sans-serif;
    text-decoration: none;
}
#navBar img {
    float: left;
    display: inline;
}
nav {
    position: absolute;
    top: 96px;
    background-color: #070E9D;
    text-align: left;
    padding: 11px 0px 11px 0px;
    width: 100%;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}
nav a {
    font-size: 14px;
    height: 20px;
    padding: 8px;
    margin: 5px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
}
nav a:hover {
    background-color: #03074A;
    color: red;
}

.logo {
    letter-spacing: -4px;
    color: red;
    text-transform: uppercase;
    font-size: 40px;
}

#logo-first {
    font-size: 52px;
    margin-right: 3px;
}

/* ListBrowser */
table {
    width: 96%;
    border-collapse: separate;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 14px;
}
th {
    text-align: left;
    background-color: #115EA2;
    color: #FFFFFF;
    padding: 10px;
}
tr{
    text-transform: capitalize;
}
tr:nth-child(odd) {
    background-color: #88aed0;
}
tr:hover {
    background: #115EA2;
    color: white;
}
td {
    padding: 5px;
}
.alert-danger {
    background-color: #FFB2B2;
    border: 2px solid red;
    padding: 5px 10px 5px 10px;
    width: 94%;
    margin-left: 2%;
    border-radius: 5px;
}
label {
    font-weight: bold;
}
input {
    padding: 3px;
    font-size: 14px;
    border-radius: 5px;
}
.view-frame {
    margin-left: 4%;
}
.small-form {
    display: block;
    margin-right: 50%;
}
.small-form input {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    display: inline;
    margin-bottom: 5px;
}
.small-form button {
    padding-left: 0px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.small-form input[name='startTime'] {
    width: 66%;
}
.small-form select {
    font-size: 14px;
    width: 66%;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn {
    border-radius: 5px;
    border: 1px solid #04106D;
    padding: 7px;
    background-color: #070E9D;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 14px;
}
.btn:hover {
    background-color: #04106D;
    border-color: #010436;
}
.btn:active {
    background-color: black;
    border-color: black;
}
.btn:active, .btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn-small {
    display: inline-block;
    padding: 3px;
    font-weight: normal;
    margin: 0px;
}
.entrant-table {
    border-bottom: 0px;
}
.entrant-table td{
    font-weight: bold;
}
.entrant-table tr:hover:nth-child(even) {
    background-color: white;
    color:black;
}
.entrant-table tr:hover:nth-child(odd) {
    background-color: #88aed0;
    color: black;
}
.entrant-table tr td:last-child {
    text-align: center;
}

.span-8 {
    width: 66%;
}
.span-4 {
    width: 33%;
}
.right {
    float: right;
}
.left {
    float: left;
}

