<ul ng-repeat="entrant  in entrants">
    <li> 
        <div>{{entrant.tag}}</div>
        <div>{{entrant.username}}</div>
        <div>Remove Button Button</div>
    </li>
</ul>

<div class="addEntrantForm">
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <label>Tag:</label> <br/>
    <input type="text" name="input" ng-model="tag" required> <br/>
    <label>UserName:</label> <br/>
    <input type="text" name="input" ng-model="username"> <br/>
    <label>Password:</label> <br/>
    <input type="password" name="input" ng-model="password"> <br/>
    <button ng-click="addEntrant()">Add Entrant!</button>
    <button ng-click="generateMatches()">Generate Matches!</button>
</div>


<ul ng-repeat="match in matches">
    <li> 
        <div>{{match.id}}</div>
    </li>
</ul>